doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title データ送信が完了しました
    body
        h2 データ送信が完了しました。
        p #{data}
        p ブラウザバックで戻りましょう
        //a(href="/")トップに戻る